@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  border-style: none;
  padding: 0;
  margin: 0;
  outline: none;
}

::placeholder {
  color: #ffffff62;
}

body {
  align-items: center;
  background-color: #282c33;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', monospace;
  justify-content: space-around;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-around;
  width: 70vw;
  margin-bottom: 20px;
}

.green {
  color: #95eba8;
}

header form label {
  font-size: 12px;
}

header form input {
  background-color: #d9d9d91a;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  height: 40px;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 200px;
}

.container-input {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

header form input:focus {
  outline: 1px solid #95eba8;
}

header form button {
  height: 40px;
  background-color: #96eb95;
  border-radius: 10px;
  color: #373737;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 1s;
  transition: color 0.5s;
  width: 200px;
}

header form button:hover {
  outline: 1px solid #95eba8;
  background-color: #d9d9d91a;
  color: #96eb95;
}

.coin-content {
  background-color: #ffffff0f;
  border-radius: 20px;
  height: 70vh;
  overflow-y: hidden;
  padding-bottom: 10px;
  text-align: center;
  width: 70vw;
}

.coin-content::-webkit-scrollbar {
  width: 10px;
}

.coin-content::-webkit-scrollbar-track {
  background-color: #888;
}

.coin-content::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.coins-title {
  margin: 20px 0px;
}

.coins {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: center;
}

.coin {
  border-radius: 10px;
  display: flex;
  list-style: none;
  background-color: #00000033;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.coin span {
  color: #ffe713;
}

@media screen and (max-width: 768px) {
  .coin {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  .coin {
    width: 95%;
  }

  .coin-content {
    width: 90vw;
    padding: 10px;
  }
}
